<% provide :title, t(".user_all") %>
<h1><%= t ".user_all" %></h1>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>adasdasda
<%= will_paginate %>
asdadasdasd
as
das
d
asd
as
d
them dong nay nua second commit
